*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html{
    box-sizing: border-box;
    font-size: 62.5%;   /* 10px/16px = 62.5% -> 1rem = 10px // THIS IS JUST TO RESET ALL FONT SIZE TO 10px FOR EASY CALC */
    font-family: 'Montserrat', sans-serif;
}

.container  {
    /* padding-top: 2rem; */
}

.header {
    margin: 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(72, 74, 72);
    /* padding-top: 3rem; */
}

.logo-text   {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -2px;
    margin-right: 11rem;
    padding-top: 3rem;
}

.header-nav {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    list-style: none;
    font-size: 2.2rem;
    font-weight: 500;
}

.nav-item   {
    /* padding-right: 6rem; */
    padding: 6rem 2.5rem 2rem 2.5rem;
}

.home   {
    background-color: rgb(34, 24, 115);
    color: #fff;
}

.validate   {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 3rem;
}

.login  {
    padding: .5rem 1.5rem;
    border: .1rem solid rgb(72, 74, 72);
    border-radius: 5px;
}

.signup  {
    padding: .5rem 1.5rem;
    margin-left: 2rem;
    color: #fff;
    background-color: rgb(34, 24, 115);
    border: .1rem solid rgb(72, 74, 72);
    border-radius: 5px;
}

.hero   {
    margin-top: 15rem;
    margin-bottom: 1.5rem;
    display: flex;
}

.hero-text{
    font-size: 5rem;
    padding-top: 5rem;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(34, 24, 115);
}

.hero-text-p span {
    font-weight: 600;
}

.hero-buttons   {
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 7rem;
}

.read-more  {
    text-decoration: none;
    padding: 1rem 11rem;
    border: .1rem solid rgb(72, 74, 72);
    color: .1rem solid rgb(72, 74, 72);
    border-radius: 5px;
}

.get-started    {
    padding: 1rem 11rem;
    background-color: rgb(34, 24, 115);
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin-left: 2rem;
}

.hero-image {
    /* grid-column: 9/13; */
    margin-left: auto;
    margin-right: 12rem;
}

.hero-image img {
    width: 30rem;
    height: auto;
    transform: translate(-10%, -9%);
}

.hero-chevron{
    color: rgb(34, 24, 115);
    margin: 18rem 4rem 0 1.5rem;
}

.why-header {
    color: rgb(72, 74, 72);
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
}

.why-divider {
    width: 3rem;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(34, 24, 115);
    margin: auto;
}

.why-header-text    {
    padding-top: 7rem;
    padding-bottom: 4rem;
}

.why-banner{
    max-width: 120rem;
    margin: 0 auto;
}

.why-banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.banner-content {
    border: transparent;
    border: .5px solid #abaeb3;
    border-radius: 1rem;
    box-shadow: #abaeb3;
    padding-top: 3rem;
    padding-left: 2.6rem;
    padding-bottom: 2rem;
    padding-right: 2rem;
    width: 30rem;
}

.why-banner-head    {
    margin-top: 1rem;
    font-size: 3rem;
    font-weight: 600;
}

.why-banner-body    {
    font-size: 2.2rem;
    font-weight: 500;
}

.why-footer {
    text-align: center;
    color: rgb(72, 74, 72);
    font-size: 2.7rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.getting-started    {
    background-color: rgb(34, 24, 115);
    padding-top: 3rem;
}

.getting-started-content    {
    margin: 0 auto;
    max-width: 120rem;
}

.getting-started-p {
    color: #fff;
    font-size: 2.7rem;
    font-weight: 600;
    padding-bottom: 3rem;
}

.getting-started-banner {
    display: flex;
    justify-content: space-between;
}

.getting-banner-content    {
    padding-top: 3rem;
    padding-left: 3rem;
    width: 30rem;
    height: auto;
    background-color: #fff;
    border-radius: 1rem;
}

.getting-banner-head   {
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 1rem;
}

.getting-started-divider    {
    color: rgb(34, 24, 115);
    width: 2rem;
    height: .5px;
}

.getting-banner-body   {
    font-size: 2.5rem;
}