*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html{
    box-sizing: border-box;
    font-size: 62.5%;   /* 10px/16px = 62.5% -> 1rem = 10px // THIS IS JUST TO RESET ALL FONT SIZE TO 10px FOR EASY CALC */
    font-family: 'Montserrat', sans-serif;
}

.container  {
    /* padding-top: 2rem; */
}

.header {
    margin: 0 8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: rgb(72, 74, 72);
    /* padding-top: 3rem; */
}

.logo-text   {
    font-size: 4rem;
    font-weight: 600;
    letter-spacing: -2px;
    margin-right: 11rem;
    padding-top: 3rem;
}

.header-nav {
    display: flex;
    /* align-items: center; */
    justify-content: space-between;
    list-style: none;
    font-size: 2.2rem;
    font-weight: 500;
}

.nav-item   {
    /* padding-right: 6rem; */
    padding: 6rem 2.5rem 2rem 2.5rem;
}

.home   {
    background-color: rgb(34, 24, 115);
    color: #fff;
}

.validate   {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 500;
    margin-top: 3rem;
}

.login  {
    padding: .5rem 1.5rem;
    border: .1rem solid rgb(72, 74, 72);
    border-radius: 5px;
}

.signup  {
    padding: .5rem 1.5rem;
    margin-left: 2rem;
    color: #fff;
    background-color: rgb(34, 24, 115);
    border: .1rem solid rgb(72, 74, 72);
    border-radius: 5px;
}

.hero   {
    margin-top: 15rem;
    margin-bottom: 1.5rem;
    display: flex;
}

.hero-text{
    font-size: 5rem;
    padding-top: 5rem;
    line-height: 1.2;
    font-weight: 400;
    color: rgb(34, 24, 115);
}

.hero-text-p span {
    font-weight: 600;
}

.hero-buttons   {
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 7rem;
}

.read-more  {
    text-decoration: none;
    padding: 1rem 11rem;
    border: .1rem solid rgb(72, 74, 72);
    color: .1rem solid rgb(72, 74, 72);
    border-radius: 5px;
}

.get-started    {
    padding: 1rem 11rem;
    background-color: rgb(34, 24, 115);
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    margin-left: 2rem;
}

.hero-image {
    /* grid-column: 9/13; */
    margin-left: auto;
    margin-right: 12rem;
}

.hero-image img {
    width: 30rem;
    height: auto;
    transform: translate(-10%, -9%);
}

.hero-chevron{
    color: rgb(34, 24, 115);
    margin: 18rem 4rem 0 1.5rem;
}

.why-header {
    color: rgb(72, 74, 72);
    font-size: 2.8rem;
    font-weight: 600;
    text-align: center;
}

.why-divider {
    width: 3rem;
    height: 5px;
    border-radius: 5px;
    background-color: rgb(34, 24, 115);
    margin: auto;
}

.why-header-text    {
    padding-top: 7rem;
    padding-bottom: 4rem;
}

.why-banner{
    max-width: 120rem;
    margin: 0 auto;
}

.why-banner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.why-banner-content {
    border-radius: 1rem;
    box-shadow: rgb(172 176 173 / 40%) 0px 8px 24px;
    padding-top: 3rem;
    padding-left: 2.9rem;
    padding-bottom: 4rem;
    padding-right: 3.9rem;
    width: 32rem;
}

.why-banner-head    {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 3rem;
    font-weight: 600;
}

.why-banner-body    {
    font-size: 2.2rem;
    font-weight: 500;
}

.why-footer {
    text-align: center;
    color: rgb(72, 74, 72);
    font-size: 2.7rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.getting-started    {
    background-color: rgb(34, 24, 115);
    padding-top: 3rem;
    padding-bottom: 6rem;
}

.getting-started-content    {
    margin: 0 auto;
    max-width: 120rem;
}

.getting-started-p {
    color: #fff;
    font-size: 2.7rem;
    font-weight: 600;
    padding-bottom: 3rem;
}

.getting-started-banner {
    display: flex;
    justify-content: space-between;
}

.getting-banner-content    {
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 4rem;
    padding-bottom: 3rem;
    width: 30rem;
    background-color: #fff;
    border-radius: 1rem;
}

.getting-banner-head   {
    font-size: 4rem;
    font-weight: 600;
    padding-bottom: 5px;
}

.getting-banner-divider    {
    background-color: rgb(34, 24, 115);
    width: 9rem;
    height: 2px;
    margin-bottom: 7px;
}

.getting-banner-body   {
    font-size: 2rem;
    font-weight: 500;
}

.getting-banner-svg {
    display: flex;
    margin-left: auto;
    
    color: rgb(34, 24, 115);
    transform: scale(3);
}

.feedback   {
    max-width: 110rem;
    margin: 0 auto;
    margin-bottom: 30rem;
}


.feedback-header   {
    text-align: center;
    color: rgb(72, 74, 72);
    font-size: 3rem;
    font-weight: 600;
    margin-top: 5rem;
    margin-bottom: 7rem;
}

.feedback-boxes {
    position: relative;
    padding-bottom: 4rem;
}

.feedback-box-one, .feedback-box-two, .feedback-box-three, .feedback-box-four, .feedback-box-five, .feedback-box-six    {
    width: 26rem;
    box-shadow: rgb(172 176 173 / 40%) 0px 8px 24px;
    border-radius: 3px;
    padding-top: 1.7rem;
    padding-left: 1.7rem;
    position: relative;
}

.feedback-box-two   {
    position: absolute;
    top: 3rem;
    left: 33rem;
}

.feedback-box-three   {
    position: absolute;
    top: 1.8rem;
    left: 66rem;
}

.feedback-box-four   {
    position: absolute;
    top: 2.5rem;
    left: 10rem;
}

.feedback-box-five   {
    position: absolute;
    top: 1.9rem;
    left: 49rem;
}

.feedback-box-six   {
    position: absolute;
    top: 2.8rem;
    left: 84rem;
}

.feedback-box-top   {
    display: flex;
    margin-bottom: 1.8rem;
}

.feedback-top-image {
    height: 3.75rem;
    border-radius: 50%;
    margin-right: 9px;
}

.feedback-top-text  {
    padding-top: 8px;
}

.feedback-top-name  {
    font-size: 10px;
    font-weight: 600;
}

.feedback-top-designation   {
    font-size: 7px;
}

.feedback-box-bottom    {
    font-size: 1.1rem;
    font-weight: 500;
    color: rgb(72, 74, 72);
}

.feedback-box-svg   {
    color: rgb(34, 24, 115);
    transform: scale(3.5);
    position: relative;
    bottom: 11rem;
    left: 21.8rem;
}

.find   {
    background-color: rgb(34, 24, 115);
    height: 35rem;
}

.find-content   {
    display: flex;
    max-width: 130rem;
    margin: 0 auto;
}

.find-left  {
    margin-right: 3.5rem;
}

.find-left-image    {
    height: 47.3rem;
    width: auto;
    transform: translateY(-20%);
    margin-right: 7rem;
}

.find-right {
    padding-top: 6rem;
    color: #fff;
}

.find-right-header  {
    font-size: 2.6rem;
    font-weight: 600;
}

.find-right-process {
    display: flex;
    align-items: center;
    padding-top: 5rem;
}

.find-process-svg   {
    margin-right: 2.5rem;
    transform: scale(1.6);
}

.find-process-text  {
    font-size: 1.6rem;
    font-weight: 600;
    margin-right: 9.5rem;
}

.find-right-buttons {
    display: flex;
    justify-content: space-between;
    font-size: 1.7rem;
    font-weight: 600;
    padding-top: 6rem;
}

.find-right-link    {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 3px;
    text-decoration: none;
    padding: 1rem 9rem;
}

.footer {
    display: flex;
    /* justify-content: space-between; */
    /* margin: 0 auto; */
    /* max-width: 130rem; */
    padding-top: 6rem;
    padding-bottom: 10rem;
    margin-left: 8rem;
}

.footer-element {
    margin-right: 8rem;
    width: 16rem;
}

.footer-logo    {
    font-size: 3.5rem;
    font-weight: 600;
    letter-spacing: -2px;
    padding-bottom: .6rem;
}

.footer-header  {
    font-size: 1.8rem;
    font-weight: 600;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}

.footer-item    {
    padding-bottom: .7rem;
    font-size: 1.2rem;
}